.services__container {
  padding: 2rem;
  background-color: #1b1b1b;
  color: white;
}

.categories__container-faq {
  padding-bottom: 0px !important;
  background-color: transparent !important;
}

.services__header {
  margin-bottom: 2rem;
}

.category__button-faq {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 15px;
  color: white;
  transition: 0.5s;
  color: #8a8a8a;
}

.category__buttons {
  :first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  :last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.search__top-img {
  padding-top: 100px;
}

.active-faq {
  color: #fff;
}

.services__h2 {
  font-weight: 400;
  font-size: 38px;
  line-height: 135%;
  color: var(--white);
}

.categories__container {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
  background-color: #1a1a1a;
  margin-top: 25px;
  gap: 15px;
}

.category__button {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 15px;
  color: white;
  transition: 0.5s;
  border-radius: 0px;
}

.service__arrow {
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.search__wrapper-faq {
  padding-top: 30px;
  @apply mx-auto;
}

.faq-wrapper-wrap {
  display: flex;
  align-items: center;
  background: #2d2d2d;
  @apply rounded-[8px] justify-between w-[90%] mx-[20px];
}

.search__input-faq {
  @apply py-[12px] pl-[15px] font-[400] text-[14px] text-[#8A8A8A] w-[907px] h-[56px] outline-0;
}

.search__icon-faq {
  padding-right: 15px;
}

.faq__question-btn {
  @apply font-[400] text-[12px] text-[#fff] rounded-[8px] py-[5px] px-[10px];
}

.search__top-wrap {
  @apply flex justify-between mx-[20px];
}

.search__top-title {
  @apply text-[24px] text-[#fff] font-[400] mt-[155px] ;
}

@media screen and (max-width: 1024px) {
  .services__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .services__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .service__card {
    margin-bottom: 1rem;
  }
}
