
.expert__swiper.swiper-initialized {
    background-color: transparent !important;
}

.active{
    color: #da4533
}


@media(max-width:900px) {
    .expert__wrap {
        display: flex;
        flex-direction: column;
    }

    .expert__forums-list {
        margin-left: 200px;

    }

    .forum__place {
        margin-top: 20px;
    }
}

@media(max-width:850px) {
    .expert__forums-list {
        margin-left: 150px;

    }
}

@media(max-width:720px) {
    .expert__forums-list {
        margin-left: 100px;

    }
}

@media(max-width:660px) {
    .expert__forums-list {
        margin-left: 50px;

    }
}

@media(max-width:600px) {
    .expert__forums-list {
        margin-left: 0px;

    }
}

@media(max-width:550px) {
    .forum__description {
        max-width: 300px;
    }

    .forum__scedule {
        margin-top: 20px;
    }
}

@media(max-width:450px) {
    .forum__par-des {
        max-width: 200px;
    }

    .forum__partipicant {
        max-width: 200px;
    }

    .forum__place {
        max-width: 200px;
    }

    .forum__scedule {
        margin-left: -100px;
    }
}